.Nav {
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;
  width: 100%;
  background-color: #031c3b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1.5px solid black;
}

.Nav ul {
  color: #BBE1FA;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  outline: #BBE1FA;
}

.cdef{
  border: 2px solid;
  border-radius: 14px;
  background-color: #161d27;
}

.Nav li {
  padding: 1rem;
  border-radius: 14px;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #BBE1FA;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: rgb(54, 53, 53);
  color: #144272;
  cursor: pointer;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #d5ebf8;
    color: #333;
  }
 

}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }

}
