.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  background-color: #0c2d59;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: #d8e7f7;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.auth h1 {
  text-align: center;
  color: #d8e7f7;
  margin-bottom: 2rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #d8e7f7;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #d8e7f7;
  border-radius: 14px;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

input:focus .control {
  font: inherit;
  background-color: #6cb8ea;
  border-radius: 14px;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: #d8e7f7;
  background-color: #03C988;
  border: 0;
  border-radius: 14px;
  padding: 0.5rem 2.5rem;
  color:white;
}

.actions button:hover {
  background-color: #04bd80;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #03C988;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #03b277;
}